@import url(https://fonts.google.com/specimen/Inter);
*{
    box-sizing: border-box;
    font-family: "inter",sans-serif ;
  font-optical-sizing: auto;
  font-weight: 400, 600, 700;
  font-style: normal;
  font-size: 14px;
}

body{
    background-color: hsl(75, 94%, 57%);
}
