.{
    box-sizing: border-box;
}

.main{
    border: 2px solid red;
    display: flex;
    flex-direction:row;
   /* flex-wrap: wrap; */
    width: 400px;
    height: 300px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.box{
    border: 1px solid black;
    height: 50px;
    width: 50px;
    background-color: greenyellow;

}

.box1{
    flex-grow: 2;
}

.box2{
    order: 3;
}